.CreateTodoButton{
    position: relative;
    z-index: 1;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 15px 32px;
    margin: auto 15%;
    border-radius: 25px;
}
.CreateTodoButton:hover{
    background-color: violet;
}